<div class="row row-cols-1 row-cols-md-3">
  
  <div *ngFor="let barberia of allBarberias" class="col mb-4">
    <div class="card">
      <img src="assets/img/imgCard.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ barberia.attributes.BARBERSHOP}} </h5>
        <p class="card-text"><strong>Direccion: </strong>{{ barberia.attributes.ADDRESS}}</p>
        <p class="card-text"><small class="text-muted">Telefono: {{ barberia.attributes.PHONE}}</small></p>
        <a href="#" class="btn btn-primary btn-block">Mas informacion</a>
      </div>
    </div>
  </div>

</div>